<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EntityProject</a> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Dashboard" asp-action="Logout">Log off</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header">
        <h2 class="text-center"> Welcome, @ViewBag.User.FirstName!</h2>

        <h1 class="text-center">Activity center</h1>
    </div>

    @ViewBag.Error

    <table class="table table-hover">
        <tr>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>Number of Participants</th>
            <th>Actions</th>
        </tr>
        @foreach(var activity in ViewBag.Activities){
        <tr>
            <th>
                <a href="activity/@activity.ActivityId"> @activity.Title</a>
            </th>
            <th> @activity.Datetime.ToString("M/d @ hh:mm tt yyyy")</th>
            <th> @activity.ConvertDuration() </th>
            <th> @activity.User.FirstName </th>
            <th> @activity.NumberParticipants()</th>
            <th>
                @if(ViewBag.User.UserId == activity.User.UserId){
                <a href="delete/@activity.ActivityId">Delete</a>
                } else if (@activity.ParticipantExist(ViewBag.User.UserId)){
                <a href="leave/@activity.ActivityId">Leave</a>
                } else {
                <a href="join/@activity.ActivityId">Join</a>
                }
            </th>
        </tr>
        }
    </table>


    <button class="btn btn-secondary">
        <a href="add">Add new activity</a>
    </button>
</div>